{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Home</title>
	<link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{% url 'main' %}"><img src="{% static 'img/4.svg' %}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">

              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Категория смартфонов</a>
                <ul class="dropdown-menu">

                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone XR' %}">iPhone XR</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 11' %}">iPhone 11</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 12' %}">iPhone 12</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 12 Pro' %}">iPhone 12 Pro</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 12 Pro Max' %}">iPhone 12 Pro Max</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 13' %}">iPhone 13</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 13 Pro' %}">iPhone 13 Pro</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'category_page' 'iPhone 13 Pro Max' %}">iPhone 13 Pro Max</a></li>




                </ul>
              </li>

          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

  <main class="site-main">

    



    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
      <div class="container">
         {% for msg in messages %}
            <div class="alert alert-success" role="alert">
              {{msg}}
            </div>
         {% endfor %}
        <div class="section-intro pb-60px">
          <h2>Trending <span class="section-intro__style">Cases</span></h2>
        </div>
        <div class="row">
          {% for product in products %}
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{{ product.image.url }}" alt="">


              </div>
              <div class="card-body">
                <p>Accessories</p>
                <h4 class="card-product__title"><a href="{% url 'product_info' product.id %}">{{ product.name }}</a></h4>
                <p class="card-product__price">{{ product.price }}.000 Sum</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- ================ trending product section end ================= -->





  </main>


  <!--================ Start footer Area  =================-->	
	<footer class="footer">

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>